#friends{overflow:hidden;height:100%;width:100%;width:100%;text-align:center}
#friendsLoading { display: none;width:100%;text-align:center;margin-top:10x}
#friendsLoading img{width:16px;height:16px;}
#friendsErrorMessage{display:none;width:100%;text-align:center;margin-top:50px;}
#friendsErrorMessage img{width:128px;height:128px;}
#friendsErrorMessage span{font-size:1.4em}
#friendsList{position:relative;height:300px;width:300px;overflow:auto;display:inline-block;margin-left:30px}
.friendContainer{position:relative;float:left;height:86px;width:86px;margin:2px;padding-top:5px;overflow:hidden;text-align:center}
.friendImgWrapper{height:50px;width:100%}
.friendNameLink{display:block;font-weight:bold}
.imgFriendLoading{margin-top:20px;width:16px;height:11px}
#friendsListFooter{clear:both} 
#txtFriendsFilter{border-radius:3px;height:16px;width:500px;padding:3px;font-size:13px;margin-top:10px} 
~                      

