@font-face{font-family:facebookLetterFaces;src:url('../font/FACEBOLF.OTF')}
.facebookBackground{width:780px;height:480px;background-image:-webkit-linear-gradient(bottom,#3a5996 25%,#3f61a1 50%,#4368ad 75%,#4870ba 100%);text-align:center;border:10px solid #2e4e87}
.facebookLogo{font-family:facebookLetterFaces;color:white;font-size:96px;cursor:default;margin-top:100px}#btnLogin{margin-top:40px;height:40px;width:100px;letter-spacing:.1em;color:#222}#loadingAnimation{margin-top:50px}
.sectionLoading{display:none;width:100%;height:100%;color:gray;text-align:center;line-height:2em;position:absolute;z-index:100;padding-top:50px;background:white}
.sectionReload{display:none;width:100%;height:100%;color:gray;text-align:center;line-height:2em;position:absolute;z-index:100;padding-top:50px;background:white}
.reloadButton{color:black;height:40px;width:100px;letter-spacing:2px;color:gray;border-radius:4px;margin-top:20px}

.reloadImg{vertical-align:middle}
#problem{text-align:center;position:relative;padding-top:30px;padding-left:5px;border-top:1px solid #8a9bbd;height:345px;width:595px;float:right;line-height:2em;background:white;color:gray;font-size:1.2em}
#confused{vertical-align:middle}

::-webkit-scrollbar{width:8px}
::-webkit-scrollbar-thumb{border-radius:10px;background-color:#333}
::-webkit-scrollbar-thumb:hover{background-color:#212121}
::-webkit-scrollbar-thumb:active{background-color:#212121}
#facebookDiv{width:100%;height:100%}
#leftPane{float:left;height:500px;width:170px;background-color:#333;border-right:2px solid #444}
#rightPane{position:relative;border-left:2px solid #888;height:100%;width:626px;float:right;display:none}
#loggedUser{border-bottom:1px solid #212121;background-color:#111;padding:5px 0;margin-bottom:5px}
#loggedUser a{text-decoration:none}
#loggedUserInnerBorder{border-bottom-right-radius:5px;border-bottom-left-radius:5px}
#profileName{text-overflow:ellipsis;white-space:nowrap;overflow:hidden;margin-top:5px;font-weight:bold;color:#aaa;font-family:"Verdana";width:105px;display:inline-block;cursor:pointer;-webkit-transition:color .5s}
#profileName:hover{color:White}
#logoutArrow{color:#aaa;font-family:"Verdana";font-weight:bold;font-size:15px margin-top:2px;cursor:pointer;-webkit-transition:color .5s}
#logoutArrow:hover{color:White}
#profileImg{vertical-align:middle;border-radius:3px;margin:5px;width:24px;height:24px;margin-left:10px}

#btnLogout{display:none;overflow:auto;float:right;margin-right:5px;margin-bottom:5px}
#navMenu{clear:both;border-radius:5px;font-family:"Verdana";font-size:10px;font-weight:bold;color:#888;border:1px solid #212121;margin:0 5px}
#navMenu img{height:24px;width:24px;cursor:pointer;margin:0 10px 0 5px}
.navMenuItem{padding:5px 0;background-color:#282828;cursor:pointer;border-top:1px solid #383838;vertical-align:bottom;-webkit-transition:color .5s;border-bottom:1px solid #212121;position:relative

}
#navMenu .navMenuItem:first-child{border-top-left-radius:5px;border-top-right-radius:5px}
#navMenu .navMenuItem:last-child{border-bottom-left-radius:5px;border-bottom-right-radius:5px;border-bottom:1px solid #383838}
.navMenuItem:hover{font-weight:bolder;color:white;background-color:#303030}
.navMenuItem:active{cursor:pointer;color:#444}
.menuText{display:inline-block;vertical-align:7px}
.navMenuItemSelected{color:white;background-color:#404040}
.menuBadge{border-radius:10px;position:absolute;display:none;font-size:.8em;padding:2px;background-color:red;color:white;text-align:center;border:1px solid #aaa;left:20px;bottom:18px;width:12px}
.leftPaneContainer{text-align:center;color:#888;border:1px solid #212121;border-radius:5px;background-color:#282828;cursor:pointer;margin:5px}
.leftPaneContainer div{border-bottom:1px solid #383838;border-top:1px solid #383838;border-radius:5px;padding:5px 0}
#fbLike{scrolling:no;frameborder:0;border:0;overflow:hidden;width:85px;height:21px;allowTransparency:true}
#banner div{background-image:url('../img/banner.png');height:149px;width:158px}
.topContainer{height:100%;width:626px}
.topContainer hr{margin:0}
#facebookMessages{display:inline-block;width:150px;height:30px;text-decoration:none;font-size:1.2em;font-weight:bold;vertical-align:middle}
#facebookMessages:hover{text-decoration:none}
#loading{display:none;padding:5px}
#loading img{width:16px;height:11px}
#logoutQuestion{width:500px;overflow:auto;text-align:center;display:none;background-color:#333;color:white;border:3px solid #212121;font-size:1.4em;font-family:Verdana}
#logoutQuestion h1{margin-top:5px;margin-bottom:10px}
#logoutQuestion input{width:50px;margin-bottom:5px;text-align:center}button
.clean-gray{background-color:#eee;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#eee),color-stop(100%,#ccc));border:1px solid #ccc;border-bottom:1px solid #bbb;-webkit-border-radius:3px;color:#fff font:bold 11px "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;line-height:1;padding:8px 0;text-align:center;text-shadow:0 1px 0 #eee}
button.clean-gray:hover{background-color:#ddd;background-image:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ddd),color-stop(100%,#bbb));border:1px solid #bbb;border-bottom:1px solid #999;cursor:pointer;text-shadow:0 1px 0 #ddd}
button.clean-gray:active{border:1px solid #aaa;border-bottom:1px solid #888;-webkit-box-shadow:inset 0 0 5px 2px #aaa,0 1px 0 0 #333}
.whiteButton{color:#606060;vertical-align:baseline;outline:0;cursor:pointer;text-align:center;text-decoration:none;text-shadow:0 1px 1px rgba(0,0,0,.3);border-radius:.5em;box-shadow:0 1px 2px rgba(0,0,0,.2);font:9px/100% Verdana,sans-serif;padding:2px 4px 4px 2px;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#ededed));border:solid 1px #b7b7b7}
.whiteButton:hover{text-decoration:none;background:-webkit-gradient(linear,left top,left bottom,from(#fff),to(#dcdcdc))}
.whiteButton:active{color:#999;background:-webkit-gradient(linear,left top,left bottom,from(#ededed),to(#fff));position:relative;top:1px}
.feedbackBox,.viewAllComments{overflow:hidden;display:block;background-color:#edeff4;padding:3px;border-bottom:1px solid #d2d9e7;border-top:1px solid white}
.boxLoading{text-align:center}
.fbButton{border:1px solid #999;border-color:#29447e #29447e #1a356e;background-color:#5b74a8;color:#fff;font-size:11px;font-weight:bold;cursor:pointer}
.buttonsContainer{width:570px;background-color:#333;height:44px;border-bottom:1px solid #212121;margin-left:20px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;text-align:center}
.fbInput{border:1px solid #b4bbcd;overflow:auto;font-family:"lucida grande",tahoma,verdana,arial,sans-serif}hr{background-color:#ccc;color:#bbb;border:0;height:1px}textarea{resize:none}a{cursor:pointer;text-decoration:none;color:#3b5998}a:hover{text-decoration:underline}a img{border:0}
