body {
	  width: 300px;
	  height:auto;
	  text-align: center;
	  font-family: helvetica;
	  background-color: #272728;
}

#tutorial{
	  color: #fff;
	    text-shadow: #8F1F00 0px 1px 1px;
	      padding: 20px;
      }
      #tutorial h1{
	        font-size: 28px;
		  font-weight: bold;
		    color: #fff;
		      text-shadow: #8F1F00 0px 1px 1px;
		        margin-bottom: 20px;
		}
		#tutorial h2{
			  text-shadow: #141414 0px 1px 1px;
			    text-decoration: none;
			      color: #98A0A9;
			        margin-bottom: 20px;
				  line-height: 24px;
			  }
			  #tutorial ol{
				    margin-left: 20px;
				      text-align: left;
				        color: #98A0A9;
					  text-shadow: #141414 0px 1px 1px;
					    font-size: 14px;
				    }
				    #tutorial li{
					      padding: 5px;
				      }
				      #tutorial li a{
					        color: #fff;
						  text-decoration: none;
